/**
 * {{EventName}} Domain Event
 * {{Description}}
 */

export interface {{EventName}}Payload {
  {{#each PayloadFields}}
  readonly {{this.name}}: {{this.type}};
  {{/each}}
}

export class {{EventName}} {
  readonly occurredAt: Date;
  readonly eventId: string;
  readonly aggregateId: string;
  readonly payload: {{EventName}}Payload;

  constructor(
    aggregateId: string,
    payload: {{EventName}}Payload,
    occurredAt: Date = new Date(),
  ) {
    this.eventId = crypto.randomUUID();
    this.occurredAt = occurredAt;
    this.aggregateId = aggregateId;
    this.payload = Object.freeze({ ...payload });
  }
}
