/**
 * {{ValueObjectName}} Value Object
 * {{Description}}
 */

export class {{ValueObjectName}} {
  private constructor(
    {{#each Fields}}
    private readonly _{{this.name}}: {{this.type}},
    {{/each}}
  ) {
    {{#each Validations}}
    if (!{{this.condition}}) {
      throw new Error("{{this.message}}");
    }
    {{/each}}
  }

  static of(
    {{#each Fields}}
    {{this.name}}: {{this.type}},
    {{/each}}
  ): {{ValueObjectName}} {
    return new {{ValueObjectName}}(
      {{#each Fields}}
      {{this.name}},
      {{/each}}
    );
  }

  equals(other: {{ValueObjectName}}): boolean {
    {{#each Fields}}
    if (this._{{this.name}} !== other._{{this.name}}) return false;
    {{/each}}
    return true;
  }

  toString(): string {
    {{#if SingleField}}
    return String(this._{{FirstFieldName}});
    {{/if}}
    {{#if MultipleFields}}
    return [{{#each Fields}}this._{{this.name}}{{/each}}].join(", ");
    {{/if}}
  }

  {{#each Fields}}
  get {{this.name}}(): {{this.type}} {
    return this._{{this.name}};
  }
  {{/each}}
}
