/**
 * {{AggregateName}} Repository Interface
 * {{Description}}
 */

import { {{AggregateName}} } from "./{{AggregateNameFilename}}.js";

export interface {{AggregateName}}Repository {
  findById(id: string): Promise<{{AggregateName}} | null>;

  save(aggregate: {{AggregateName}}): Promise<void>;

  delete(id: string): Promise<void>;

  {{#each CustomQueries}}
  findBy{{this.Name}}({{this.params}}): Promise<{{AggregateName}}[]>;
  {{/each}}
}
